<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="profile">{{ profile.name }}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="profile">
    <ion-img  src="https://pokeres.bastionbot.org/images/pokemon/{{ pokemonId }}.png"></ion-img>

    <ion-card-header>
        <ion-card-title>{{ profile.name }}</ion-card-title>
      <ion-card-subtitle> Type : {{ profile.types[0].type.name }}</ion-card-subtitle>
      <ion-card-subtitle> Weight : {{ profile.weight }} kg</ion-card-subtitle>
      <ion-card-subtitle> Height : {{ profile.height }} </ion-card-subtitle>
      <ion-card-subtitle> Stats : {{ profile.stats[0].base_stat }} </ion-card-subtitle>
      <ion-card-subtitle> Stats Name : {{ profile.stats[1].stat.name }} </ion-card-subtitle>
      <ion-card-subtitle> Moves : {{ profile.moves[0].move.name }} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>




    </ion-card-content>

  </ion-card>
</ion-content>
