ion-title {
  text-transform: uppercase;
  padding: 10px;
}
ion-card-subtitle {
  color: #f10606;
  font-weight: bold;
  padding: 5px;
  font-size: 13px;
}
ion-card-title {
  text-transform: uppercase;
}

ion-back-button {
  display: block !important;
}
