ion-label {
  color: #de5252 !important;
  text-transform: uppercase;
}
h1 {
    text-align: center;
    background: #000000;
    color: #fff;
    margin-top: 0px;
    font-weight: bold;
    padding: 10px;
}

